@font-face{
	font-family: "Greenth dots";
	src: url(Greenth Dots.otf);
}
/*These are general code for full body*/
html{
	font-size: 62.5%;
}
body{
	padding-top: 85px ;
	padding-left: 90px;
	padding-right: 10px;
	margin-left: 0px;
	margin-right: 0px;
	background-color: #FCEFCB;
}

/*This code is for Header area*/
.header{
	position: fixed;
	background-color: #b87d4b;
	border-bottom: 2px solid #523A34;
	left: 0;
	top: 0;
	width: 100%;
	height: 80px;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	z-index: 100;
	box-shadow: 0px 0px 10px #b87d4b;
}
.logo{
	font-size: 4.0rem;
	text-decoration: none;
	font-weight: 600px;
	color: #222;
	vertical-align: top;
	font-family: "Greenth-dots", arial;
}
.logo-img{
	height: 50px;
	width: 50px;
	border-radius: 25px;
}
.logo,
.logo-img{
	opacity: 0;
	animation: slideRight 1s ease forwards;
}
.navbar a{
	font-size: 1.8rem;
	color: #222;
	text-decoration: none;
	font-weight: 500px;
	margin: 0px 20px;
	transition: .3s;

	opacity: 0;
	animation: slideTop .6s ease forwards;
	animation-delay: calc( .2s * var(--i));
	display: inline-block;
}
.navbar a:hover,
.navbar a.active {
	color: #F2DD6E;
}

/*The code below are for styling Sidebar*/

.sidebar{
	background-color: #b87d4b;
	color: white;
	bottom: 0;
	left: 0;
	top: 80px;
	width: 80px;
	position: fixed;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	vertical-align: middle;
	text-align: center;

	border-right: 2px solid #523A34;
	box-shadow: 0px 0px 10px #b87d4b;
}
.sidebar a{
	font-size: 1.6rem;
	text-decoration: none;
	color: #222;
}
.sidebar-link{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 110px;
	width: 100%;
	margin-bottom: 5px;
}
.sidebar-link:hover{
	background-color: #F2DD6E;
	color: #222;
	border-right: none;
}
.active{
	color: #F2DD6E;
}
.active:hover{
	color: #222;
}

/*Here is the style for thumbnails*/

.work{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	column-gap: 15px;
	row-gap: 20px;
}
.research{
	background-color: #FAD59A;
	height: 412px;
	border: 2px solid #A86523;
	border-radius: 5px;
	box-shadow: 0px 0px 5px #A86523;
}
.research img{
	height: 300px;
	width: 100%;
	object-fit: contain;
}
.research p{
	text-align: center;
	font-size: 2.0rem;
	font-family: "Quattrocento", sans-serif;
}
.article-link{
	text-decoration: none;
	border: 1px solid black;
	border-radius: 10px;
	text-align: center;
	margin-bottom: 2px;
	margin-left: 2px;
	margin-right: 2px;
	padding-top: 4px;
	padding-bottom: 4px;
}
.research a{
	text-decoration: none;
	font-size: 2.0rem;
	color: black;
	font-family:  "Charm", serif;
	font-weight: 700px;
	letter-spacing: 5px;
}
.article-link:hover{
	background-color: #FCEFCB;
}

/*Code below are for styling Next page bar*/

.next-page{
	margin-top: 15px;
	width: 100%;
	height: 70px;
	background-color: #7B4019;
	border: 2px solid #A86523;
	box-shadow: 0px 0px 5px #A86523;
	border-radius: 5px;
	display: flex;
	justify-content: space-evenly;
	align-items: center;

}
.next-page a{
	background-color: #CA7842;
	color: #F0F2BD;
	text-decoration: none;
	font-size: 2.0rem;
	letter-spacing: 5px;
	border: 1px solid #4B352A;
	border-radius: 5px;
	box-shadow: 0px 0px 5px #4B352A;
	padding: 10px 16px 10px 16px;
}
.next-page a:hover,
.next-page a.active{
	background-color: #F0F2BD;
	color: #CA7842;
}

.burger-menu, 
.burger-menu-btn{
	display: none;
}


/*This is for animation*/

@keyframes slideRight {
	0%{
		transform: translateX(-100px);
		opacity: 0;
	}
	100%{
		transform: translateX(0);
		opacity: 1;
	}
}
@keyframes slideTop {
	0%{
		transform: translateY(100px);
		opacity: 0;
	}
	100%{
		transform: translateY(0);
		opacity: 1;
	}
}


@media only screen and (max-width: 600px) {

	.header{
		width: 100%;
	}
	.logo{
		font-size: 2.0rem;
	}
	.logo-img{
	height: 20px;
	width: 20px;
	border-radius: 10px;
	}

	.burger-menu-btn{
		display: block;
		width: 25px;
		height: 25px;
		background-image: url(Icons/menu_25dp_1F1F1F_FILL0_wght400_GRAD0_opsz24.svg), url(Icons/close_25dp_1F1F1F_FILL0_wght400_GRAD0_opsz24.svg);
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center, center left 50px;
	}
	.burger-menu{
		display: none;
		position: fixed;
		width: 100%;
		height: 100vh;
		z-index: 300;
		background-color: #D1A980;
	}
	.burger-menu ul{
		width: 100%;
		height: calc(100vh - 80px);
		display: flex;
		flex-wrap: wrap;
		align-content: flex-start;
		padding-left: 0;
		list-style-type: none;
	}
	.burger-menu ul li{
		flex-basis: 100%;
		border-top: 2px solid #000;
	}
	.burger-menu ul li:last-child {
		border-bottom: 2px solid #000;
	}
	.burger-menu ul li a{
		display: block;
		height: 8vh;
		font-size: 3rem;
		padding-top: 7%;
		flex-basis: 100%;
		text-align: center;
		text-decoration: none;
		color: #F8F8F8;
	}

	.navbar{
		display: none;
	}

	.sidebar{
		flex-direction: row;
		position: static;
		border-right: 0;
		margin-bottom: 10px;
		width: 100%;
		height: 80px;
	}
	.sidebar-link img{
		width: 60%;
	}
	.sidebar-link{
		margin-bottom: 0px;
		width: 100%;
		height: 100%;
	}
	body{
		padding-left: 10px;
		padding-right: 10px;
	}

	.work{
		width: 99%;
		grid-template-columns: 1fr ;
	}
	.research{
		height: auto;
	}
	.research img{
		height: 60%;
	}
	.research p{
		font-size: calc(2.0rem - 1vw);
	}
	.research a {
		letter-spacing: 0;
	}

	.next-page a {
		letter-spacing: 0;
		padding: 5px 8px 5px 8px;
	}
}

@media only screen and (max-width: 1024px) and (min-width: 600px){

	.logo{
		font-size: 2.9rem;
	}
	.logo-img{
	height: 30px;
	width: 30px;
	border-radius: 15px;
	}
	.navbar a{
		font-size: 1.6rem;
		margin: 0px 10px;
	}

	.work{
		width: 99%;
		grid-template-columns: 1fr 1fr;
	}
	.research{
		height: auto;
	}
	
}